{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creacion de perfil</h1>

    {{ form_start(form) }}

    <ul>
        <li>
            {{ form_widget(form) }}
            <input type="submit" value="Crear" class="btn btn-success" role="button">
            {{ form_end(form) }}
        </li>
        <li>
            <a href="{{ path('perfil_index') }}" class="btn btn-dark" role="button">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
